body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.texto {
  color: white;
  text-align: center;
  font-size: 30px;

}